.user-review {
    padding: 10px 20px;
    margin: 20px;
}

.reviewer-img img {
    float: left;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

.rating {
    display: flex;
    align-items: center;
}

.rating .fa-star {
    color: rgb(255, 196, 0);
    font-size: 14px;
    margin-left: 8px;
}